html,body,#content{
    width:100%;
}

header {
	/*position: fixed;*/
	background-color: grey;
	width: 100%;
	top:0;
	height: 40px;
}

header > p {
	text-align: right;
}

#content {
	/*margin: 0 auto;*/
	padding-top: 50px;
}

#activityLog, #priority, #backlog, #whatever {
	width: 25%;
	/*padding: 10px 0 10px 0;*/
	margin: 0 auto;
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.2);
	font-family: consolas, monaco, monospace;
	text-align: center;
	color: #00FF00;
	/*border: 1px red solid;*/
	/*float:left;*/
}

p {
	padding: 10px 0 10px 0;
}

#whatever {
	width: 25%;
}

#activityLog, #priority {
	float: left;
}

#backlog, #whatever {
	float: left;
}

#wrapper {
	/*padding-top: 50px;*/
	position: relative;
	height: 100%;
}

.list {
	display: block;
}

.inner {
	/*padding-top: 10px;*/
	/*margin: 5px;*/
	background-color: yellow;
	border: 1px red solid;
}

/*#activityLog {
	background-color: rgba(255, 255, 255, 0.2);
}

#priority {
	background-color: rgba(255, 255, 255, 0.2);
}

#calendar {
	background-color: rgba(255, 255, 255, 0.2);
}*/