*{
    box-sizing: border-box;
}

html,body,#content{
    width:100%;
    font-family: 'Muli', sans-serif;
}

#container{
    padding-top: 50px;
    width: 100%;
}

header {
	background-color: grey;
	width: 100%;
	top:0;
	height: 40px;
    position: fixed;
    left: 0;
    text-align: right;
}

header > p {
	text-align: left;
    font-size: 24px;
    font-weight: bold;
}




#column1, #column2, #column3, #column4 {
	width: 25%;
	margin: 0 auto;
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.2);
	font-family: consolas, monaco, monospace;
	text-align: center;
	color: #00FF00;
	float:left;
	border-right: 8px solid white;
	margin-top: 40px;
}

p {
	padding: 10px 0 10px 0;
}



#wrapper {
	position: relative;
	height: 100%;
}

.list {
	display: block;
}

.inner {
	background-color: yellow;
	border: 1px red solid;
}


#column1{
    border-left: 8px solid white;
}

