body{
  font-family: consolas, monaco, monospace;
  padding: 0;
  margin: 0;
  color: rgb(219, 149, 21);
  background-color: #434343;
  background-image: linear-gradient(#434343, #282828);
  background-image:
      linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent),
      linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
  background-size:50px 50px;
}

#container-column2{

}

#column1, #column2{
    /*background-color: #87E1FF;*/
    float: left;
    font-size: 18px;
    height: 100vh;
    /*margin-top: 50px;*/
}
#column1{
    width: 33%;
    text-align: center;
}

#user-avatar {
    margin: 0 auto;
    margin-top: 50px;
}

#user-avatar > img {
    border: 8px solid #CCE6FF;
}

#user, #orgs-title {
    font-size: 36px;
}

#column2{
    border-left: 4px solid #fff;
    width: 66%;
    float: right;
}

#orgs-title{
    margin-top: 50px;
    text-align: center;
    font-size: 70px;
    color: rgba(0,255,0,0.8);
    /*text-shadow: 4px 4px 2px #85C3FF;*/
    /*font-style: italic;*/
}

#orgs {
    width: 60%;
    margin: 0 auto;
    /*margin-top: 50px;*/
    background-color: #9CCEFF;
    height: 70%;
    overflow: auto;
}
 .org-row{
     height: 50px;
     border: 8px solid #DCF3F7;
     border-bottom: 2.5px;
 }

 a {
     text-decoration: none;
     color: #fff;
 }

 .org-row:hover{
     background-color: #CCE6FF;
     color: white;
 }

 .org-row > p {
     margin: 0;
     border: 0;
     height: 100;
     font-size: 28px;
     color: #B87FB6;
 }
