*{
  font-family: 'Lato', sans-serif;
}

#button{
  border-style: none;
  background-color: grey;
  width: 50%;
  height: 5%;
  margin: 0 auto;
}

#button:hover{
  background-color: #F5EFE4;
}

#column1, #column2, #column3 {
  background-color: #E8E4F5;
  float: left;
  font-size: 18px;
  height: 100vh;
  margin: 0;
  width: 33%;
}

#column2, #column3{
  border-left: 1px solid;
  visibility: hidden;
  transition: 5s visibility;
}

#column2:target, #column3:target{
  visibility: visible;
  transition: 5s visibility;

}

li {
  font-size: 18px;
  padding: 10px 10px;
  text-decoration: none;
}

li:hover {
  background-color: #F5EFE4;
}
