<!DOCTYPE html>
<html>
  <head>
      <title>gridster test</title>
      <meta name="author" content="gyurisc">
      <link rel="stylesheet" type="text/css" href="../css/jquery.gridster.css">
      <link rel="stylesheet" type="text/css" href="../css/jquery.gridster.min.css">

      <link rel="stylesheet" type="text/css" href="../css/board-styles.css">
  </head>
  <body>
      <!-- <section class="demo"> -->
          <div id='headers'>
              <h1 class='tracker' id='later'>Later</h1>
              <h1 class='tracker'>Soon</h1>
              <h1 class='tracker'>Now</h1>
              <h1 class='tracker'>Done</h1>
          </div>
          <div class="gridster">
              <ul>
                  <!-- <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"><h1>one</h1></li>
                  <li data-row="2" data-col="1" data-sizex="1" data-sizey="1"><h1>one</h1></li>
                  <li data-row="3" data-col="1" data-sizex="1" data-sizey="1"><h1>one</h1></li>
                  <li data-row="4" data-col="1" data-sizex="1" data-sizey="1"><h1>one</h1></li>
                  <li data-row="5" data-col="1" data-sizex="1" data-sizey="1"><h1>one</h1></li>
                  <li data-row="6" data-col="1" data-sizex="1" data-sizey="1"><h1>one</h1></li>
                  <li data-row="7" data-col="1" data-sizex="1" data-sizey="1"><h1>one</h1></li>
                  <li data-row="8" data-col="1" data-sizex="1" data-sizey="1"><h1>one</h1></li> -->

                  <!-- <li data-row="1" data-col="2" data-sizex="1" data-sizey="1"><h1>two</h1></li>
                  <li data-row="2" data-col="2" data-sizex="1" data-sizey="1"><h1>two</h1></li>
                  <li data-row="3" data-col="2" data-sizex="1" data-sizey="1"><h1>two</h1></li>
                  <li data-row="4" data-col="2" data-sizex="1" data-sizey="1"><h1>two</h1></li>

                  <li data-row="1" data-col="3" data-sizex="1" data-sizey="1"><h1>three</h1></li>
                  <li data-row="2" data-col="3" data-sizex="1" data-sizey="1"><h1>three</h1></li>
                  <li data-row="3" data-col="3" data-sizex="1" data-sizey="1"><h1>three</h1></li>
                  <li data-row="4" data-col="3" data-sizex="1" data-sizey="1"><h1>three</h1></li>

                  <li data-row="1" data-col="3" data-sizex="1" data-sizey="1"><h1>four</h1></li>
                  <li data-row="2" data-col="3" data-sizex="1" data-sizey="1"><h1>four</h1></li>
                  <li data-row="3" data-col="3" data-sizex="1" data-sizey="1"><h1>four</h1></li>
                  <li data-row="4" data-col="3" data-sizex="1" data-sizey="1"><h1>four</h1></li>

                  <li data-row="1" data-col="3" data-sizex="1" data-sizey="1"><h1>five</h1></li>
                  <li data-row="2" data-col="3" data-sizex="1" data-sizey="1"><h1>five</h1></li>
                  <li data-row="3" data-col="3" data-sizex="1" data-sizey="1"><h1>five</h1></li>
                  <li data-row="4" data-col="3" data-sizex="1" data-sizey="1"><h1>five</h1></li> -->
              </ul>
          </div>
      <!-- </section> -->
      <script type="text/javascript" src="../js/jquery.js"></script>
      <script type="text/javascript" src="../js/jquery.gridster.js" charster="utf-8"></script>
      <script src="../js/board.js" charset="utf-8"></script>
  </body>
</html>
