<!DOCTYPE html>
<html>
  <head>
      <title>gridster test</title>
      <meta name="author" content="gyurisc">
      <link rel="stylesheet" type="text/css" href="../public/css/jquery.gridster.css">
      <link rel="stylesheet" type="text/css" href="../public/css/jquery.gridster.min.css">

      <link rel="stylesheet" type="text/css" href="../public/css/board-styles.css">
      <!-- <link rel="stylesheet" type="text/css" href="../public/css/login.css"> -->
  </head>
  <body>
      <header>

            <div id="dd" class="wrapper-dropdown" tabindex="1">User
                <ul class="dropdown">
                    <li><a href="#">Account</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
            <!-- <div id="image">
            <img src={{avatar}} alt="" style="width:40px" />
        </div> -->
        </header>
        <div id='container'>
          <div id='headers'>
              <h1 class='tracker' id='later'>Later</h1>
              <h1 class='tracker'>Soon</h1>
              <h1 class='tracker'>Now</h1>
              <h1 class='tracker'>Done</h1>
          </div>
          <div class="gridster">
              <ul>
                  <!-- <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"><h1>one</h1></li>
                  <li data-row="2" data-col="1" data-sizex="1" data-sizey="1"><h1>one</h1></li>
                  <li data-row="3" data-col="1" data-sizex="1" data-sizey="1"><h1>one</h1></li>
                  <li data-row="4" data-col="1" data-sizex="1" data-sizey="1"><h1>one</h1></li>
                  <li data-row="5" data-col="1" data-sizex="1" data-sizey="1"><h1>one</h1></li>
                  <li data-row="6" data-col="1" data-sizex="1" data-sizey="1"><h1>one</h1></li>
                  <li data-row="7" data-col="1" data-sizex="1" data-sizey="1"><h1>one</h1></li>
                  <li data-row="8" data-col="1" data-sizex="1" data-sizey="1"><h1>one</h1></li> -->

                  <!-- <li data-row="1" data-col="2" data-sizex="1" data-sizey="1"><h1>two</h1></li>
                  <li data-row="2" data-col="2" data-sizex="1" data-sizey="1"><h1>two</h1></li>
                  <li data-row="3" data-col="2" data-sizex="1" data-sizey="1"><h1>two</h1></li>
                  <li data-row="4" data-col="2" data-sizex="1" data-sizey="1"><h1>two</h1></li>

                  <li data-row="1" data-col="3" data-sizex="1" data-sizey="1"><h1>three</h1></li>
                  <li data-row="2" data-col="3" data-sizex="1" data-sizey="1"><h1>three</h1></li>
                  <li data-row="3" data-col="3" data-sizex="1" data-sizey="1"><h1>three</h1></li>
                  <li data-row="4" data-col="3" data-sizex="1" data-sizey="1"><h1>three</h1></li>

                  <li data-row="1" data-col="3" data-sizex="1" data-sizey="1"><h1>four</h1></li>
                  <li data-row="2" data-col="3" data-sizex="1" data-sizey="1"><h1>four</h1></li>
                  <li data-row="3" data-col="3" data-sizex="1" data-sizey="1"><h1>four</h1></li>
                  <li data-row="4" data-col="3" data-sizex="1" data-sizey="1"><h1>four</h1></li>

                  <li data-row="1" data-col="3" data-sizex="1" data-sizey="1"><h1>five</h1></li>
                  <li data-row="2" data-col="3" data-sizex="1" data-sizey="1"><h1>five</h1></li>
                  <li data-row="3" data-col="3" data-sizex="1" data-sizey="1"><h1>five</h1></li>
                  <li data-row="4" data-col="3" data-sizex="1" data-sizey="1"><h1>five</h1></li> -->
              </ul>
          </div>
        </div>
      <!-- </section> -->
      <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
      <script type="text/javascript" src="../public/js/jquery.js"></script>
      <script type="text/javascript" src="../public/js/jquery.gridster.js" charster="utf-8"></script>
      <script type="text/javascript" src="../public/js/dashboard.js" charster="utf-8"></script>
      <script type="text/javascript">
            function DropDown(el) {
                this.dd = el;
                this.initEvents();
            }
            DropDown.prototype = {
                initEvents : function() {
                    var obj = this;

                    obj.dd.on('click', function(event){
                        $(this).toggleClass('active');
                        event.stopPropagation();
                    });
                }
            };

            $(function() {

                var dd = new DropDown( $('#dd') );

                $(document).click(function() {
                    // all dropdowns
                    $('.wrapper-dropdown').removeClass('active');
                });

            });
        </script>

  </body>
</html>
