<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/public/css/dashboard.css">
    <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>
		<p id="repo">{{repo}}</p>
	</header>
	<div id="container">
		<!-- <h1>This is dashboard page</h1>
		<p>{{message}}</p> -->
		<div id="column1">
			<p>Backlog</p>
            <div id='issue'></div>
		</div>

		<div id="column2">
			<p>Ready</p>
            <div id='issue'></div>
		</div>

		<div id="column3">
			<p>Working</p>
            <div id='issue'></div>
		</div>
        <div id="column4">
            <p>Done</p>
            <div id='issue'></div>
		</div>
	</div>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/public/js/dashboard.js"></script>
</body>
</html>
