<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" href="public/css/main.css">
        <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
       
    </head>
    <body>
        <!-- <div id="navbar"></div> -->
        <header>

            <div id="dd" class="wrapper-dropdown" tabindex="1">{{login}}
                <ul class="dropdown">
                    <li><a href="#">Account</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
            <div id="image">
            <img src={{avatar}} alt="" style="width:40px" />
        </div>
        </header>
        <div id='container'>
            <div id='container-column1'>
            

                
                    <h1 id='orgs-title'>Your Repositories</h1>
                    <div id="orgs">
                        {{#each repos}}
                        <div class="org-row">
                            <p id="org-text">{{this}}
                               <!--  <a href="#">Ajax</a> -->
                            </p>
                        </div>
                        {{/each}}
                        
                    </div><!--end of #orgs-->
             
            </div><!--end of #container-column1-->

            <div id='container-column2'>
                <h1 id='orgs-title'>Your Orgs Repositories</h1>
            </div><!--end of #container-column2-->

        </div><!--end of container-->
        </div>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="public/js/repos.js" type="text/javascript"></script>
        <script type="text/javascript">
            function DropDown(el) {
                this.dd = el;
                this.initEvents();
            }
            DropDown.prototype = {
                initEvents : function() {
                    var obj = this;

                    obj.dd.on('click', function(event){
                        $(this).toggleClass('active');
                        event.stopPropagation();
                    });
                }
            };

            $(function() {

                var dd = new DropDown( $('#dd') );

                $(document).click(function() {
                    // all dropdowns
                    $('.wrapper-dropdown').removeClass('active');
                });

            });
        </script>
    </body>
</html>