<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
	<body>

		<div id="login">
			<input id="loginButton" type="button">
		</div>
		<input type="text" id="orgText" placeholder="enter organisation name">	
		<input type="text" id="repoText" placeholder="enter repo name">
		<input type="button" id="repoButton" value="click for repo issues">
		
		<div id="repoIssues"></div>

		<input type="button" id="eventsButton" value="click for repo events">
		<div id="repoEvents"></div>

		<input type="button" id="userButton" value="click for issues assigned to you">
		<div id="userIssues"></div>
	</body>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="public/js/issues.js" type="text/javascript"></script>
</html>