<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="public/css/login.css" media="" />
</head>
<body>
<div id="content">
    <div class="container">
        <div class="section">
            <p id="typing">Hello World! <span class="blinker">|</span></p>
            <div id="front_text">
                <h2>Organise/Your/Workflow<span class="dollar">$</span><span class="title"> Coderniser</span></h2>
                <h3><a href="/login" >{ Click to login }</a></h3>
            </div>
        </div>
    </div>
</div>
</body>
</html>